/**
 * Fractal Website
 *
 * Test for designing websites using ReactJS and Webpack
 *
 * Author:  Anshul Kharbanda
 * Created: 11 - 24 - 2017
 */
 // Navbar for mobile
 .navbar-m {
     @extend .navbar;
     @include block-group;

     // Header
     .nav-header-m {
         @extend .nav-header;
         @include row-group;

         // Title
         .nav-title-m {
             @extend .nav-title;
             flex-grow: 1;
         }

         // Hide nav-toggle container
         .nav-toggle-container-m {
             padding: 10pt;

             // Nav toggle button
             .nav-toggle-m {
                 @include faded;

                 // Sizing
                 width: 35px;
                 height: 35px;

                 // background
                 background: none;
                 background-image: url('../icons/menu.svg');
                 background-size: 70%;
                 background-position: center;
                 background-repeat: no-repeat;

                 // Border
                 border: 1px solid white;
                 border-radius: 5pt;

                 // Active selector
                 &.active-m {
                     background-color: white;
                     background-image: url('../icons/menu-selected.svg');
                 }
             }
         }
     }

     // Navigation links
     .nav-link-set-m {
         @extend .nav-link-set;
         @include block-group;

         // Single link item
         .nav-link-m {
             @extend .nav-link;
             @include block-group;
             a { text-align: right; }
         }
     }
 }
