/**
 * Fractal Website
 *
 * Test for designing websites using ReactJS and Webpack
 *
 * Author:  Anshul Kharbanda
 * Created: 11 - 24 - 2017
 */
// Fonts and colors
$main-font: "Calibri", sans-serif;

// Coloring
$primary-color: #2d28a2;

// Mobile Width
$mobile-width: 500px;

// On Mobile
@mixin on-mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}

// Flex spacing mixins
@mixin row-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
@mixin col-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin block-group {
    display: block;
}

@mixin bordered {
    border: 2pt solid black;
}
/**
 * "Show up in that new Mercedes, you already know I'm faded
 * Girl I've been thinkin' about you lately
 * Oh-oh, oh-ohhh" - Post Malone
 */
@mixin faded {
    transition: 0.2s ease-in-out;
}

// App div
#fractal-website {
    // Full screen
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // Create flexbox
    display: flex;
    flex-direction: column;
}

// Imports
@import "base",
        "navbar",
        "footer",
        "jumbotron",
        "page",
        "gallery",
        "mobile/navbar-m",
        "mobile/jumbotron-m";
